*.pyc
*~
*.infile
*.mat
.DS_Store
./do_not_git
./do_not_git/*
do_not_git
hpc_notes.txt
to_hpc.tgz
from_hpc.tgz
from_hpc.tgz.used
outfiles
work_*
dng*

# Data directory
data/infiles/
data/outfiles/
data/outfiles_legacy/
data/outfiles_new/
data/outfiles_refernce/
data/EventDate_LC.csv
data/New_EventDate_LC.csv
*.h5

# Submodules / nested repos
chart/
StormSim-Library/

# Temp scripts
temp/
